* {
  margin: 0;
  padding: 0;
  outline: 0;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}
.bodyContainer {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(/ico/bg1.jpg);
  background-position: center;
  background-size: cover;
  /* filter: brightness(90%); */
  height: 96vh;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}
.navRight {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.languageSelector {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 10px;
  width: fit-content;
  background: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
  margin-top: 16px;
  height: fit-content;
  color: white;
  background-color: transparent;
}
.logo {
  width: 12rem;
  height: 5rem;
  color: rgb(229, 9, 20);
}
.signin {
  color: #ffffff;
  background-color: #e50914;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 12px;
  margin-top: 15px;
  border-color: rgba(128, 128, 128, 0.7);
}
select {
  border: none;
  background-color: transparent;
  appearance: none;
  color: #ffffff;
  font-weight: bold;
}
option {
  color: black;
}
