* {
  margin: 0;
  padding: 0;
  outline: 0;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}
.bodyContainer {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(/ico/bg1.jpg);
  background-position: center;
  background-size: cover;
  /* filter: brightness(90%); */
  height: 96vh;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}
.navRight {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 10%;
}
.languageSelector {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 10px;
  width: fit-content;
  background: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 9px;
  cursor: pointer;
  margin-top: 16px;
  height: fit-content;
  color: white;
  background-color: transparent;
}
.logo {
  width: 12rem;
  height: 5rem;
  color: rgb(229, 9, 20);
  margin-left: 10%;
}
.signin {
  color: #ffffff;
  background-color: #e50914;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  padding: 0.65rem 1rem;
  border-radius: 3px;
  font-size: 13px;
  margin-top: 15px;
  border-color: rgba(128, 128, 128, 0.7);
  cursor: pointer;
}
select {
  border: none;
  background-color: transparent;
  appearance: none;
  color: #ffffff;
  font-weight: bold;
  width: inherit;
  cursor: pointer;
}
option {
  color: black;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}
h1{
  font-size: 3rem;
    font-weight: 750;
    margin: auto;
    color: rgb(255,255,255);
}
p{
  margin: 1rem;
  font-size: 24px;
  font-weight: 400;
}
h3{
  font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin: 0.5rem;
}
button{
  color: #ffffff;
  background-color: #e50914;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 24px;
  margin-left: 5px;
  border-color: rgba(128, 128, 128, 0.7);
  cursor: pointer;
}
.getStart{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.email{
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 500;
    background-color: transparent;
    padding: 18px 150px 18px 10px;
    border: 1px solid gray;
    border-radius: 3px;
}